@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


#app {
  font-family: 'Questrial', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $secondary;
  font-weight: 600;
}

.my-btn {
  background-color: $primary;
  color: white;
  padding: 1rem 3rem;
  border: 0;
  border-radius: 5px;
}