@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


#app {
  font-family: 'Questrial', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $secondary;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $tertiary;
  transition: 0.3s ease-in-out;

    &:hover {
      color: darken($tertiary, 10);
    }
}

.my-btn {
  background-color: $primary;
  color: white;
  padding: 1rem 3rem;
  border: 0;
  border-radius: 5px;
  transition: 0.3s ease-in-out;

    &:hover {
      background-color: $secondary;
    }
}